@charset "ISO-8859-1";

.location-marker {
	width: 32px;
	height: 32px;
}

.bar-chart-bar {
    display: block; 
    position:relative; 
    width: 100%; 
    height: 20px; 
}
.bar {
    float: left; 
    height: 100%; 
   
    
}

.bar1 {
        background-color: blue;  
    }
.bar2    {
        background-color: #c1ccc1;
    }
