@charset "ISO-8859-1";

.location-marker {
	width: 25px;
	height: 25px;
}

.bar-chart-bar {
    display: block; 
    position:relative; 
    width: 150px; 
    height: 20px; 
}
.bar {
    float: left; 
    height: 100%; 
}

.bar1 {
        background-color: blue;  
    }
.bar2    {
        background-color: #c1ccc1;
    }
.per-label {
	position: absolute;
	padding-left: 3px;
}